<!DOCTYPE html>
<html>

<head>
  <base href="/" />
  <title>Omni Assist AI</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../public/css/styles.css" type="text/css">
  <!-- WebComponents polyfill. Needed for rendering web components in older browsers. -->
  <script src="https://www.gstatic.com/external_hosted/document_register_element/document-register-element.js"></script>
  <!-- Core UI module container. Loads all UI module-specific scripts. -->
  <script src="https://www.gstatic.com/agent-assist-ui-modules/transcript.js"></script>
  <script src="https://www.gstatic.com/agent-assist-ui-modules/v1.11/container.js"></script>

</head>

<body>
  <header class="header">
    <div>
      <img class="logo" src="../public/assets/logo.svg" alt="Omni Assist AI" height="34px" />
    </div>
    <div class="header-right">
      <!-- <div class="status-container"></div> -->
      <div class="transcript-container"></div>
      <div class="sentiment-container">
        <img src="../public/assets/emotion/slightly_smiling_face.svg" alt="Sentiment" />
      </div>
      <div class="toggle-btn-container">
        <button id="summary-toggler" type="button" class="toggle-btn">
          <img id="summary-toggler-image" src="../public/assets/buttons/summary-black.svg" alt="Summary" />
        </button>
        <button id="faq-toggler" type="button" class="toggle-btn">
          <img id="faq-toggler-image" src="../public/assets/buttons/faq-black.svg" alt="Faq" />
        </button>
        <button id="knowledge-assist-toggler" type="button" class="toggle-btn">
          <img id="knowledge-assist-toggler-image" src="../public/assets/buttons/gen-ai-black.svg"
            alt="Gen AI Knowledge Assist" />
        </button>
        <button id="smart-reply-toggler" type="button" class="toggle-btn">
          <img id="smart-reply-toggler-image" src="../public/assets/buttons/smart-reply-black.svg" alt="Smart Reply" />
        </button>
      </div>
    </div>
  </header>
  <main class="main">
    <section id="summary" class="summary">
      <div class="title-container">
        <h4 class="title">Generate Summary</h4>
        <div class="title-btn-container">
          <button type="button" class="regenerate-btn">
            <img src="../public/assets/regenerate.svg" alt="regenerate" />
          </button>
          <button id="summary-close-btn" type="button" class="close-btn">
            <img src="../public/assets/close.svg" alt="close" />
          </button>
        </div>
      </div>
      <!-- <div class="summary-expander" id="summary-expander">
        <img src="../public/assets/breaker.svg" alt="expand" />
      </div> -->
    </section>
    <section id="suggestions" class="suggestions">
      <section id="transcript" class="transcript">
        <h4 class="title">Conversation Transcript</h4>
      </section>
      <section id="faq" class="faq">
        <div class="title-container">
          <h4 class="title">FAQ & Article Suggestions</h4>
          <button id="faq-close-btn" type="button" class="close-btn">
            <img src="../public/assets/close.svg" alt="close" />
          </button>
        </div>
      </section>
      <section id="knowledge-assist" class="knowledge-assist">
        <div class="title-container">
          <h4 class="title">Gen AI Knowledge Assist</h4>
          <button id="knowledge-assist-close-btn" type="button" class="close-btn">
            <img src="../public/assets/close.svg" alt="close" />
          </button>
        </div>
      </section>
    </section>
    <section id="smart-reply" class="smart-reply">
      <!-- <div class="smart-reply-expander" id="smart-reply-expander">
        <img src="../public/assets/breaker.svg" alt="expand" />
      </div> -->
      <div class="title-container">
        <h4 class="title">Smart Reply</h4>
        <button id="smart-reply-close-btn" type="button" class="close-btn">
          <img src="../public/assets/close.svg" alt="close" />
        </button>
      </div>
    </section>
  </main>
  <script type="module" src="../public/js/main.js"></script>
</body>

</html>