@import url('variables.css');

html {
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

body {
  width: 100%;
  max-width: 1500px;
  height: 100%;
  margin: 0 auto;
  background-color: var(--color-white);
  font-family: var(--font-family-primary);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.header {
  width: 100%;
  height: 52px;
  padding: var(--padding-small);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-border);
  background: var(--color-background);
}

.header-title {
  color: var(--color-black);
  margin: 0px;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-large);
  font-weight: 700;
  line-height: var(--line-height-small);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.toggle-btn-container {
  display: flex;
  flex-direction: row;
  gap: var(--gap-small);
}

.toggle-btn {
  width: var(--button-width);
  height: var(--button-height);
  background: transparent;
  color: var(--color-black);
  border: 1px solid var(--color-gray);
}

.toggle-btn > svg {
  fill: currentColor;
}

.toggle-btn-active {
  background: var(--color-blue);
  color: var(--color-white);
  border: none;
}

.toggle-btn-active > svg {
  fill: currentColor;
}

.title-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-medium);
  font-weight: 700;
  line-height: var(--line-height-medium);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: capitalize;
}

.title-btn-container {
  display: flex;
  align-items: center;
  gap: var(--gap-small);
}

.main {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.summary {
  width: 100%;
  height: 120px;
  border-bottom: 1px solid var(--color-text-border);
  padding: var(--padding-small);
  display: none;
}

.suggestions {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.faq,
.knowledge-assist,
.transcript {
  flex: 1;
  width: 100%;
  height: 100%;
  padding: var(--padding-small);
  border: 1px solid var(--color-border);
  display: none;
}

.faq {
  background: var(--color-light-blue);
}

.smart-reply {
  width: 100%;
  height: 120px;
  border: 1px solid var(--color-border);
  padding: var(--padding-small);
  background: var(--color-white);
  display: none;
}

.close-btn {
  width: var(--button-small-width);
  height: var(--button-small-height);
  border: 1px solid var(--color-gray);
  background: transparent;
  font-size: var(--font-size-small);
  color: var(--color-dark-gray);
}

.regenerate-btn {
  width: var(--button-small-width);
  height: var(--button-small-height);
  font-size: var(--font-size-small);
  background: var(--color-blue);
  color: var(--color-white);
}

.show {
  display: block;
}