@import url('variables.css');

html {
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

body {
  width: 100vw;
  max-width: 1500px;
  height: 100vh;
  margin: 0 auto;
  background-color: var(--color-white);
  font-family: var(--font-family-primary);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

img {
  user-select: none;
}

.header {
  width: 100%;
  height: 52px;
  padding: var(--padding-small);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--color-border);
  background: var(--color-background);
}

.header-title {
  color: var(--color-black);
  margin: 0px;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-large);
  font-weight: 700;
  line-height: var(--line-height-small);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.header-right {
  display: flex;
  align-items: center;
  gap: var(--padding-medium);
}

.toggle-btn-container {
  display: flex;
  flex-direction: row;
  gap: var(--gap-medium);
}

.toggle-btn {
  width: var(--button-width);
  height: var(--button-height);
  background: transparent;
  color: var(--color-black);
  border: 1px solid var(--color-gray);
  transition: all 500ms ease-in-out;
}

.toggle-btn:hover {
  transform: scale(0.9);
}

.toggle-btn > svg {
  fill: currentColor;
}

.toggle-btn-active {
  background: var(--color-blue);
  color: var(--color-white);
  border: none;
}

.toggle-btn-active > svg {
  fill: currentColor;
}

.title-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-medium);
  font-weight: 700;
  line-height: var(--line-height-medium);
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-transform: capitalize;
  user-select: none;
  pointer-events: none;
  color: var(--color-text-primary);
}

.title-btn-container {
  display: flex;
  align-items: center;
  gap: var(--gap-medium);
}

.main {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.summary {
  position: relative;
  width: 100%;
  height: 120px;
  border-bottom: 1px solid var(--color-text-border);
  padding: var(--padding-small);
  display: none;
  max-height: 250px;
  min-height: 50px;
  overflow-y: auto;
}

.summary::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  cursor: row-resize;
  background: transparent;
}

.summary-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-medium);
  margin-top: var(--gap-medium);
}

.summary-text {
  background: var(--color-light-blue);
  padding: var(--padding-small);
  border-radius: var(--border-radius);
  font-size: var(--font-size-small);
}

.suggestions {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.suggestions > section {
  transition: transform 0.3s ease;
}

.faq,
.knowledge-assist,
.transcript {
  flex: 1;
  height: 100%;
  padding: var(--padding-small);
  border: 1px solid var(--color-border);
  display: none;
  overflow-y: auto;
}

.faq {
  background: var(--color-light-blue);
}

.knowledge-assist-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
  margin-top: var(--gap-medium);
}

.knowledge-assist-content-item {
  border: 1px solid var(--color-text-border);
  padding: var(--padding-small);
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
}

.knowledge-assist-title {
  font-size: var(--font-size-medium);
  font-weight: 600;
}

.knowledge-assist-suggestion {
  font-size: var(--font-size-small);
}

.smart-reply {
  position: relative;
  width: 100%;
  height: 120px;
  border: 1px solid var(--color-border);
  padding: var(--padding-small);
  background: var(--color-white);
  display: none;
  max-height: 250px;
  min-height: 50px;
  overflow-y: auto;
}

.smart-reply::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  cursor: row-resize;
  background: transparent;
}

.smart-reply-content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
  margin-top: var(--gap-medium);
}

.smart-reply-text {
  font-size: var(--font-size-small);
  border-radius: var(--border-radius);
  padding: var(--padding-small);
}

.smart-reply-text:nth-child(odd) {
  background: var(--color-light-blue);
}

.smart-reply-text:nth-child(even) {
  background: transparent;
  border: 1px solid var(--color-text-border);
}

.close-btn {
  width: var(--button-small-width);
  height: var(--button-small-height);
  border: 1px solid var(--color-gray);
  background: transparent;
  font-size: var(--font-size-small);
  color: var(--color-dark-gray);
}

.close-btn:hover {
  border-width: 1.5px;
}

.close-btn img {
  transition: transform 0.3s ease-in-out;
}

.close-btn:hover img {
  transform: scale(0.9);
}

.regenerate-btn {
  width: var(--button-small-width);
  height: var(--button-small-height);
  font-size: var(--font-size-small);
  background: var(--color-blue);
  color: var(--color-white);
  transition: transform 0.3s ease-in-out;
}

.regenerate-btn:hover {
  scale: 0.9;
}

.regenerate-btn img {
  transition: transform 0.3s ease;
}

.regenerate-btn:hover img {
  transform: rotate(360deg);
}

.view-btn {
  padding: var(--padding-xx-small);
  background: transparent;
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
  display: flex;
  align-items: center;
  gap: var(--gap-medium);
  font-size: var(--font-size-small);
  font-weight: 500;
  transition: border-width 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
}

.view-btn > span {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.view-btn:hover {
  background: var(--color-background);
  transform: scale(1.04);
}

.show {
  display: block;
}

.resizing {
  border-bottom: 2px solid var(--color-blue);
}

.top-resizing {
  border-top: 2px solid var(--color-blue);
}

.dragging {
  opacity: 0.5;
}

.receiver {
  outline: 3px dashed var(--color-blue);
  background-color: var(--color-light-blue);
  transition: background-color 0.2s ease, outline 0.2s ease;
}
