@import url('variables.css');

agent-assist-summarization {
  width: 100%;
}

agent-assist-summarization .mdc-line-ripple {
  display: none !important;
}

agent-assist-summarization mat-form-field {
  padding: 0px !important;
}

agent-assist-summarization .mat-mdc-text-field-wrapper {
  border: 1px solid var(--color-text-border) !important;
  padding: var(--padding-xxx-small) var(--padding-xx-small) !important;
  border-radius: var(--border-radius-medium) !important;
  background: var(--color-background) !important;
}

agent-assist-summarization .mat-mdc-text-field-wrapper:focus-within {
  border-color: var(--color-primary) !important;
}

.mat-icon {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

mat-spinner {
  width: 24px !important;
  height: 24px !important;
  margin-top: 0px !important;
}

mat-chip-listbox {
  margin-top: 0px !important;
}

agent-assist-summarization .generate-summary {
  font-size: var(--font-size-base) !important;
  background: var(--color-primary) !important;
  display: none;
  position: absolute;
  top: 5px;
  right: 65px;
}

[data-test-id='copy-summary-button'] {
  position: absolute !important;
  top: 0px !important;
  right: 0px !important;
  display: none !important;
}

agent-assist-summarization .summary__content {
  max-height: 100% !important;
}

agent-assist-summarization .summary__content-details {
  display: none;
}

agent-assist-summarization .summary__content-summary {
  margin: 0px !important;
}

agent-assist-summarization .summary__content-summary > pre {
  margin: 0px !important;
  max-height: 100% !important;
}

agent-assist-summarization .summary__title-bar-wrapper {
  display: flex !important;
  flex-direction: row !important;
  gap: 6px !important;
}

agent-assist-summarization mat-icon {
  margin: 0px !important;
  padding: 0px !important;
  width: 14px !important;
  height: 14px !important;
}

agent-assist-summarization .mdc-text-field--outlined .mat-mdc-form-field-infix,
.mdc-text-field--no-label .mat-mdc-form-field-infix {
  padding: 0px !important;
}

agent-assist-summarization textarea {
  margin: 0px !important;
}

agent-assist-summarization .summary__content-wrapper {
  padding: 0px !important;
}

agent-assist-summarization .summary__title-bar {
  margin: 0px !important;
  padding: 0px !important;
}

agent-assist-summarization .generate-summary-button-container {
  color: var(--color-white) !important;
}

agent-assist-knowledge-assist .document-and-faq-assist__suggestions-empty {
  margin: 0px !important;
  font-size: var(--font-size-small);
}

agent-assist-smart-reply .smart-reply__chip--empty {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-left: 10px !important;
  font-size: var(--font-size-small);
}

agent-assist-knowledge-assist-v2 .input-wrapper {
  border: 1px solid var(--color-gray) !important;
  padding: var(--padding-xx-small);
  border-radius: var(--border-radius-medium) !important;
  background: var(--color-white);
  gap: var(--gap-xx-medium) !important;
  overflow: hidden !important;
}

.pending-suggested-queries {
  margin: 2px !important;
}

agent-assist-knowledge-assist-v2 .input-wrapper:focus-within {
  box-shadow: none !important;
  border-color: var(--color-primary) !important;
}

agent-assist-knowledge-assist-v2 .search-input-button {
  padding: 0px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0px !important;
}

agent-assist-knowledge-assist-v2
  .mat-mdc-icon-button
  .mat-mdc-button-touch-target {
  width: 100%;
  height: 100%;
}
agent-assist-knowledge-assist-v2 .mat-mdc-icon-button.mat-mdc-button-base {
  width: 24px;
  height: 24px;
}

agent-assist-knowledge-assist-v2 .mat-mdc-icon-button img,
agent-assist-knowledge-assist-v2 .mat-mdc-icon-button svg {
  width: 20px;
  height: 20px;
}

agent-assist-knowledge-assist-v2 .bottom-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-medium);
}

knowledge-search-card {
  border-radius: 8px;
  margin-bottom: 0px !important;
}

knowledge-search-card:nth-child(odd) {
  background: var(--color-secondary) !important;
}

knowledge-search-card:nth-child(even) {
  background: transparent !important;
  border: 1px solid var(--color-text-border) !important;
}

knowledge-search-card .answer-card-container {
  margin-bottom: 0px !important;
}

knowledge-search-card .answer-card-header-container {
  margin: 0px !important;
}

knowledge-search-card .typing-indicator-bubble {
  margin: 0px !important;
  width: 36px !important;
  height: 20px !important;
}

knowledge-search-card .answer-card-knowledge {
  margin: 0px !important;
  margin-top: var(--padding-xx-small) !important;
}

knowledge-search-card button .mat-icon,
knowledge-search-card button .mdc-button__label {
  color: var(--color-primary) !important;
}

knowledge-search-card .mat-mdc-button-persistent-ripple {
  display: none !important;
}

agent-assist-knowledge-assist .mat-mdc-form-field-infix {
  min-height: 0px !important;
  padding: 0px !important;
}

agent-assist-knowledge-assist .mat-icon {
  margin: 0px !important;
}

agent-assist-knowledge-assist .mat-mdc-text-field-wrapper {
  border-radius: var(--border-radius-medium) !important;
  border: 1px solid var(--color-gray) !important;
  background: var(--color-white) !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  gap: var(--gap-xx-medium) !important;
  padding: var(--padding-xx-small) !important;
}

agent-assist-knowledge-assist .mat-mdc-text-field-wrapper:focus-within {
  border-color: var(--color-primary) !important;
}

agent-assist-knowledge-assist
  .mat-mdc-icon-button
  .mat-mdc-button-touch-target {
  width: 24px !important;
  height: 24px !important;
}

agent-assist-knowledge-assist .mat-mdc-icon-button.mat-mdc-button-base {
  padding: 0px !important;
  width: 24px !important;
  height: 24px !important;
  margin: 0px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

agent-assist-knowledge-assist mat-ripple mat-mdc-button-ripple {
  width: 24px !important;
  height: 24px !important;
}

agent-assist-knowledge-assist .mat-mdc-form-field-icon-suffix {
  padding: 0px !important;
}

agent-assist-knowledge-assist .mdc-line-ripple {
  display: none !important;
}

.document-and-faq-assist__suggestion {
  background: var(--color-white) !important;
  border-radius: 8px !important;
  border: 1px solid var(--color-primary) !important;
  margin-bottom: 0px !important;
  position: relative !important;
  padding: var(--padding-xx-small) !important;
  display: block !important;
}

.document-and-faq-assist__suggestions {
  display: flex !important;
  flex-direction: column !important;
  gap: var(--gap-medium) !important;
  overflow-x: hidden !important;
}

.document-and-faq-assist__suggestions-header {
  margin: 0px !important;
}

.document-and-faq-assist__suggestion-feedback {
  display: flex !important;
  flex-direction: row !important;
  gap: var(--gap-medium) !important;
}

[data-test-id='confirm-edit-summary-button'],
[data-test-id='cancel-edit-summary-button'],
[data-test-id='edit-summary-button'],
.document-and-faq-assist__copy-faq-answer-button {
  display: flex !important;
  align-items: center !important;
  gap: 0.5rem !important;
  padding: 6px 8px !important;
  border: 1px solid var(--color-primary) !important;
  border-radius: var(--border-radius) !important;
  font-size: var(--font-size-small) !important;
  color: var(--color-primary) !important;
}

[data-test-id='confirm-edit-summary-button'],
[data-test-id='cancel-edit-summary-button'] {
  margin: 0px !important;
}

[data-test-id='confirm-edit-summary-button'],
[data-test-id='cancel-edit-summary-button'],
[data-test-id='edit-summary-button'] {
  height: 100% !important;
}

.document-and-faq-assist__copy-faq-answer-button {
  position: absolute !important;
  bottom: var(--padding-xx-small) !important;
  right: var(--padding-xx-small) !important;
  height: 26px !important;
}

.document-and-faq-assist__copy-faq-answer-button mat-icon {
  width: 14px !important;
  height: 14px !important;
}

.document-and-faq-assist__suggestion-body {
  margin-bottom: var(--padding-xx-small) !important;
}

.document-and-faq-assist__copy-faq-answer-button
  .mat-mdc-outlined-button
  .mat-mdc-button-touch-target {
  height: 0px !important;
}

.article-search__body {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  overflow: auto !important;
}

.document-and-faq-assist__suggestion-icon {
  display: none !important;
}

.document-and-faq-assist__suggestion-timestamp {
  position: absolute !important;
  top: 10px !important;
  right: 5px !important;
}

.answer-card-header-icon {
  display: none !important;
}

.answer-card-header-query {
  margin: 0px !important;
}

.mat-mdc-chip-selected,
.mdc-evolution-chip--selected {
  background: var(--color-primary) !important;
  color: var(--color-white) !important;
}

agent-assist-transcript .end-user .bubble-content {
  background-color: var(--color-background) !important;
}

agent-assist-transcript .agent .bubble-content {
  background-color: var(--color-secondary) !important;
}

input::placeholder,
.answer-card-header-query,
.answer-card-knowledge,
.document-and-faq-assist__suggestion-body,
.document-and-faq-assist__suggestion-title,
agent-assist-smart-reply .smart-reply__chip--empty,
agent-assist-transcript .conversation-container,
agent-assist-knowledge-assist .document-and-faq-assist__suggestions-empty,
agent-assist-knowledge-assist .document-and-faq-assist__suggestion-type,
agent-assist-knowledge-assist .document-and-faq-assist__suggestion-timestamp,
agent-assist-summarization .summary__content-summary {
  -webkit-user-select: none !important; /* Safari */
  -ms-user-select: none !important; /* IE 10 and IE 11 */
  user-select: none !important; /* Standard syntax */
}

mat-spinner circle {
  stroke: var(--color-primary) !important;
}

.document-and-faq-assist__suggestion-type,
.document-and-faq-assist__new-suggestions-chip {
  background: var(--color-primary) !important;
}

.document-and-faq-assist__suggestion-title-link,
.knowledge-search-article-link {
  color: var(--color-primary) !important;
}
