:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #b9b9b9;
  --color-dark-gray: #424242;
  --color-blue: #4965cd;
  --color-light-blue: #e2eaff;
  /* --color-blue: #ed9e08;
  --color-light-blue:rgba(237, 157, 8, 0.1); */
  --color-background: #f8f8f8;
  --color-border: #e8e8e8;
  --color-text-border: #e0e0e0;
  --color-text-primary: #333333;

  --font-family-primary: 'Roboto', sans-serif;
  --font-family-secondary: 'Open Sans', sans-serif;

  --font-size-xxx-small: 8px;
  --font-size-xx-small: 10px;
  --font-size-small: 12px;
  --font-size-base: 14px;
  --font-size-medium: 16px;
  --font-size-large: 18px;

  --line-height-small: 28px;
  --line-height-medium: 28px;

  --border-radius: 3px;
  --border-radius-medium: 5px;

  --button-width: 34px;
  --button-height: 34px;
  --button-medium-width: 28px;
  --button-medium-height: 28px;
  --button-small-width: 20px;
  --button-small-height: 20px;

  --gap-small: 4px;
  --gap-xx-medium: 6px;
  --gap-medium: 8px;
  --gap-base: 12px;
  --gap-large: 16px;

  --padding-xxx-small: 4px;
  --padding-xx-small: 8px;
  --padding-small: 10px;
  --padding-medium: 12px;
  --padding-large: 16px;

  --width-small: 20px;
  --width-base: 32px;
  
  --height-small: 20px;
  --height-base: 32px;
}
